<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>server</key>
	<string>http://192.168.50.31:8080</string>
	<key>version</key>
	<string>70</string>
	<key>companyId</key>
	<integer>20099</integer>
	<key>groupId</key>
	<real>20126</real>
</dict>
</plist>
